# Локальні результати тестування (сирі логи)
/results/

# Згенеровані HTML-звіти (веб-сторінки)
/reports/

# Системні логи самого JMeter
jmeter.log
*.log

basic_load_test.jmx

# Тимчасові файли операційної системи
.DS_Store
Thumbs.db